In [21]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [29]:
from env.stockEnv_bis import StockEnv
from utils.make_dataset_bis import get_ticker_data, get_tickers, add_technical_indicator, add_vix
from utils.indicators import get_cci, get_macd, get_rsi, get_adx
from utils.stockstats import StockDataFrame as sdf
from utils.stockstats import _Meta

In [8]:
_Meta('test')

In [30]:
tickers = get_tickers()
start_date = '2020-01-01'
end_date = '2021-01-01'
df = get_ticker_data(start_date, end_date, tickers)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [31]:
df = add_technical_indicator(df)

In [32]:
df = add_vix(df)

[*********************100%%**********************]  1 of 1 completed

In [36]:
from utils.make_dataset_bis import get_process_data


data = get_process_data(start_date, end_date, tickers)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [38]:
data

,date,ticker,close,open,high,low,volume,cci,macd,adx,rsi,vix
0,2020-01-02,AAPL,73.059418,74.059998,75.150002,73.797501,135480400,-66.666667,0.000000,100.000000,0.000000,12.47
0,2020-01-02,AXP,118.922508,124.660004,126.269997,124.230003,2708000,-66.666667,0.000000,100.000000,0.000000,12.47
0,2020-01-02,BA,331.348572,328.549988,333.350006,327.700012,4544400,-66.666667,0.000000,100.000000,0.000000,12.47
0,2020-01-02,CAT,136.412857,149.000000,150.550003,147.979996,3311900,-66.666667,0.000000,100.000000,0.000000,12.47
0,2020-01-02,CSCO,42.764034,48.060001,48.419998,47.880001,16708100,-66.666667,0.000000,100.000000,0.000000,12.47
...,...,...,...,...,...,...,...,...,...,...,...,...
251,2020-12-30,V,213.302765,216.000000,220.389999,215.649994,8875100,219.359915,1.735691,17.207450,66.018327,22.77
251,2020-12-30,VZ,48.309753,58.830002,58.939999,58.060001,18259800,-126.581834,-0.331337,11.945956,33.158664,22.77
251,2020-12-30,WBA,33.407799,39.520000,39.730000,39.200001,4194300,-100.110722,0.019019,6.360997,45.537988,22.77
251,2020-12-30,WMT,45.720100,48.293331,48.383331,47.980000,18751200,-61.222017,-0.266690,11.323703,42.007323,22.77
251,2020-12-30,XOM,36.114670,41.330002,42.419998,41.270000,23807300,-58.847076,0.741623,14.081361,53.846995,22.77

In [40]:
StockEnv(data)

In [58]:
for tic in df.ticker.unique():

array(['AAPL', 'AXP', 'BA', 'CAT', 'CSCO', 'CVX', 'DD', 'DIS', 'GS', 'HD',
       'IBM', 'INTC', 'JNJ', 'JPM', 'KO', 'MCD', 'MMM', 'MRK', 'MSFT',
       'NKE', 'PFE', 'PG', 'RTX', 'TRV', 'UNH', 'V', 'VZ', 'WBA', 'WMT',
       'XOM'], dtype=object)

In [10]:
stock = sdf.retype(df.copy())

In [10]:
import pandas as pd
from stockstats import StockDataFrame as sdf
indicator_df = pd.DataFrame()
for tck, data in df.groupby('ticker'):
    stock = sdf.retype(data)
    stock = pd.DataFrame(stock[['cci','macd', 'adx', 'rsi']])
    stock["ticker"] = tck
    stock = stock.reset_index()
    indicator_df = pd.concat([indicator_df, stock], axis=0, ignore_index=True)

df.merge(indicator_df, on=["ticker", "date"], how="left")

,date,ticker,close,open,high,low,volume,cci,macd,adx,rsi
0,2020-01-02,AAPL,73.059418,74.059998,75.150002,73.797501,135480400,NaN,0.000000,NaN,NaN
1,2020-01-02,AXP,118.922508,124.660004,126.269997,124.230003,2708000,NaN,0.000000,NaN,NaN
2,2020-01-02,BA,331.348572,328.549988,333.350006,327.700012,4544400,NaN,0.000000,NaN,NaN
3,2020-01-02,CAT,136.412857,149.000000,150.550003,147.979996,3311900,NaN,0.000000,NaN,NaN
4,2020-01-02,CSCO,42.764034,48.060001,48.419998,47.880001,16708100,NaN,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7585,2020-12-31,V,213.664185,218.399994,219.820007,216.199997,5922200,164.519277,2.197211,21.414765,66.455513
7586,2020-12-31,VZ,48.816620,58.060001,58.799999,58.020000,12906300,-98.340084,-0.344049,14.623900,40.864826
7587,2020-12-31,WBA,33.866364,39.330002,40.000000,39.029999,7696000,-70.146860,0.007661,4.901798,49.346556
7588,2020-12-31,WMT,45.710590,48.066666,48.090000,47.616669,17814000,-92.136554,-0.271788,12.901700,41.895857
7589,2020-12-31,XOM,35.784786,41.470001,41.680000,40.970001,22786500,-85.907466,0.645751,12.970841,51.749499

In [20]:
import yfinance as yf
def add_vix(data):
    """
    add vix from yahoo finance
    :param data: (df) pandas dataframe
    :return: (df) pandas dataframe
    """
    df = data.copy()
    df_vix = yf.download("^VIX",start=df.date.min(), end=df.date.max()).reset_index()
    vix = df_vix[["Date", "Close"]]
    vix.columns = ["date", "vix"]

    df = df.merge(vix, on="date")
    df = df.sort_values(["date", "ticker"]).reset_index(drop=True)
    return df

add_vix(df)

[*********************100%%**********************]  1 of 1 completed

,date,ticker,close,open,high,low,volume,vix
0,2020-01-02,AAPL,73.059418,74.059998,75.150002,73.797501,135480400,12.47
1,2020-01-02,AXP,118.922508,124.660004,126.269997,124.230003,2708000,12.47
2,2020-01-02,BA,331.348572,328.549988,333.350006,327.700012,4544400,12.47
3,2020-01-02,CAT,136.412857,149.000000,150.550003,147.979996,3311900,12.47
4,2020-01-02,CSCO,42.764034,48.060001,48.419998,47.880001,16708100,12.47
...,...,...,...,...,...,...,...,...
7555,2020-12-30,V,213.302765,216.000000,220.389999,215.649994,8875100,22.77
7556,2020-12-30,VZ,48.309753,58.830002,58.939999,58.060001,18259800,22.77
7557,2020-12-30,WBA,33.407799,39.520000,39.730000,39.200001,4194300,22.77
7558,2020-12-30,WMT,45.720100,48.293331,48.383331,47.980000,18751200,22.77
7559,2020-12-30,XOM,36.114670,41.330002,42.419998,41.270000,23807300,22.77

In [18]:
df_vix = yf.download("^VIX",start=df.date.min(), end=df.date.max())
vix = df_vix[["Date", "Close"]]
vix.columns = ["date", "vix"]

[*********************100%%**********************]  1 of 1 completed

KeyError: "['Date'] not in index"

In [16]:
yf.download("^VIX",start=df.date.min(), end=df.date.max())

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-01-02  13.460000  13.720000  12.420000  12.470000  12.470000       0
2020-01-03  15.010000  16.200001  13.130000  14.020000  14.020000       0
2020-01-06  15.450000  16.389999  13.540000  13.850000  13.850000       0
2020-01-07  13.840000  14.460000  13.390000  13.790000  13.790000       0
2020-01-08  15.160000  15.240000  12.830000  13.450000  13.450000       0
...               ...        ...        ...        ...        ...     ...
2020-12-23  23.490000  23.680000  22.129999  23.309999  23.309999       0
2020-12-24  22.469999  22.830000  21.389999  21.530001  21.530001       0
2020-12-28  22.110001  22.120001  21.150000  21.700001  21.700001       0
2020-12-29  21.610001  23.719999  20.990000  23.080000  23.080000       0
2020-12-30  22.580000  23.150000  22.410000  22.770000  22.770000       0

[252 rows x 6 columns]

In [55]:
get_adx(df[df.ticker == 'AAPL'])

0              NaN
30             NaN
60      100.000000
90       75.200509
120      48.329008
           ...
7440     27.218687
7470     31.750356
7500     35.928010
7530     37.288686
7560     35.466174
Length: 253, dtype: float64

In [9]:
import pandas as pd
import numpy as np

# Create a DataFrame to simulate stock price data before and after a split
dates = pd.date_range(start="2024-01-01", periods=10, freq='D')
prices_before_split = np.linspace(100, 110, 5)
prices_after_split = np.linspace(55, 60, 5)  # Assuming a 2-for-1 split, prices are halved

# Combine the prices into one array and create the DataFrame
prices = np.concatenate([prices_before_split, prices_after_split])
df = pd.DataFrame({'Date': dates, 'Open': prices + np.random.normal(0, 1, 10), 
                   'High': prices + np.random.uniform(1, 3, 10), 
                   'Low': prices - np.random.uniform(1, 3, 10), 
                   'Close': prices + np.random.normal(0, 1, 10)})

# Display the DataFrame
df

        Date        Open        High         Low       Close
0 2024-01-01   97.787422  101.958664   98.276552  100.160909
1 2024-01-02  103.569005  104.683444  101.165536  101.557905
2 2024-01-03  105.320205  107.556307  102.992423  104.460555
3 2024-01-04  105.780283  109.284336  104.971150  108.837341
4 2024-01-05  110.290552  111.724603  108.746479  112.531558
5 2024-01-06   53.648358   57.581096   53.235913   54.998824
6 2024-01-07   56.963169   58.998493   54.146471   55.989963
7 2024-01-08   56.419486   60.271022   54.565108   56.661784
8 2024-01-09   58.538154   60.375577   57.748334   58.571670
9 2024-01-10   57.849526   62.042229   58.299431   61.024041

In [22]:
close = df['Close']
close_prev = df['Close'].shift(periods=1)
# close - close_prev if close>close_prev else 0

In [28]:
change

0     0.000000
1     1.396995
2     2.902651
3     4.376786
4     3.694217
5   -57.532734
6     0.991139
7     0.671820
8     1.909886
9     2.452371
Name: Close, dtype: float64

In [29]:
change = close.diff()
change.iloc[0] = 0
up = (change + abs(change))/2
down = (-change + abs(change))/2

        # return series.ewm(
        #     ignore_na=False,
        #     alpha=1.0 / window,
        #     min_periods=0,
        #     adjust=True).mean()

u_ema = up.ewm(alpha=1.0/n).mean()
d_ema = down.ewm(alpha=1.0/n).mean()

rs = u_ema / d_ema
return 100 - 100 / (1.0 + rs)

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5    57.532734
6     0.000000
7     0.000000
8     0.000000
9     0.000000
Name: Close, dtype: float64

In [43]:
high = df['High']
low = df['Low']
plus_dm = high.diff()
plus_dm.iloc[0] = 0
minus_dm = -low.diff()
minus_dm.iloc[0] = 0
plus_dm
# plus_dm[plus_dm < 0] = 0
# ((plus_dm > 0)) * plus_dm

0     0.000000
1     2.724780
2     2.872864
3     1.728029
4     2.440267
5   -54.143506
6     1.417396
7     1.272529
8     0.104555
9     1.666653
Name: High, dtype: float64

In [64]:
high = df['High']
# low = df['Low']
close = df['Close']

# Calculate True Range

plus_dm = high.diff()
plus_dm.loc[0] = 0
minus_dm = -low.diff()
plus_dm[(plus_dm < 0) & (plus_dm < minus_dm)] = 0
plus_dm

0    0.000000
1    2.724780
2    2.872864
3    1.728029
4    2.440267
5    0.000000
6    1.417396
7    1.272529
8    0.104555
9    1.666653
Name: High, dtype: float64

In [55]:
high

0    101.958664
1    104.683444
2    107.556307
3    109.284336
4    111.724603
5     57.581096
6     58.998493
7     60.271022
8     60.375577
9     62.042229
Name: High, dtype: float64

In [62]:
low[2] = 97
low

/var/folders/dp/b94k5mbd3bb12qxl1lrmxmdc0000gn/T/ipykernel_72268/666993903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  low[2] = 97

0     98.276552
1    101.165536
2     97.000000
3    104.971150
4    108.746479
5     53.235913
6     54.146471
7     54.565108
8     57.748334
9     58.299431
Name: Low, dtype: float64

In [44]:
minus_dm

0     0.000000
1    -2.888983
2    -1.826887
3    -1.978727
4    -3.775329
5    55.510566
6    -0.910559
7    -0.418637
8    -3.183226
9    -0.551097
Name: Low, dtype: float64

In [19]:
df[close>close_prev]['test'] = close<close_prev

/var/folders/dp/b94k5mbd3bb12qxl1lrmxmdc0000gn/T/ipykernel_72268/3234527549.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[close>close_prev]['test'] = close<close_prev

In [20]:
df

        Date        Open        High         Low       Close
0 2024-01-01   97.787422  101.958664   98.276552  100.160909
1 2024-01-02  103.569005  104.683444  101.165536  101.557905
2 2024-01-03  105.320205  107.556307  102.992423  104.460555
3 2024-01-04  105.780283  109.284336  104.971150  108.837341
4 2024-01-05  110.290552  111.724603  108.746479  112.531558
5 2024-01-06   53.648358   57.581096   53.235913   54.998824
6 2024-01-07   56.963169   58.998493   54.146471   55.989963
7 2024-01-08   56.419486   60.271022   54.565108   56.661784
8 2024-01-09   58.538154   60.375577   57.748334   58.571670
9 2024-01-10   57.849526   62.042229   58.299431   61.024041